In [1]:
import os
import pandas as pd

In [2]:
files = os.listdir("./data/")

In [4]:
df_ref = pd.read_csv("./data/surya-bench_sdo.csv")

In [5]:
df_flare = pd.read_csv("./data/hourly_surya_data.csv")

In [6]:
df_flare.head()

,Unnamed: 0,path,timestep,present
0,0,/data/surya-bench/2010/01/20100101_0000.nc,2010-01-01 00:00:00,0
1,1,/data/surya-bench/2010/01/20100101_0012.nc,2010-01-01 00:12:00,0
2,2,/data/surya-bench/2010/01/20100101_0024.nc,2010-01-01 00:24:00,0
3,3,/data/surya-bench/2010/01/20100101_0036.nc,2010-01-01 00:36:00,0
4,4,/data/surya-bench/2010/01/20100101_0048.nc,2010-01-01 00:48:00,0

In [13]:
df_merge = pd.merge(df_ref, df_flare, on="timestep", how="inner", suffixes=["", "_flare"])

In [15]:
df_merge = df_merge[["path", "timestep", "present"]]

In [18]:
df_merge.to_csv("./data/hourly_surya_data_nas.csv", index=False)